{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" sizes="16x16" href="{% static 'images/logo_morado.png' %}">
    <title>Registro</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
<div class="container" id="registration-form">
    <div class="image"></div>
    <div class="frm">
        <h1>Registro</h1>
        {% if messages %}
            {{ messages }}
        {% endif %}
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-lg">Save</button>
        </form>

    </div>
</div>
</body>

</html>
