{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Datos de Estudiante</h1>

    <form method="POST">
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.as_p }}
        {{ form_user.as_p }}
        <button type="submit" class="btn btn-success btn-lg">Guardar</button>
    </form>
    </div>
{% endblock %}
