{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'appjardin_paralelo_list' %}">Paralelo Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>id_paralelo</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.id_paralelo }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'appjardin_paralelo_create' %}">Crear nuevo Paralelo</a>
{% endblock %}