{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_name_representante_list' %}">Representante Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>id_representante</td>
    <td>celular</td>
    <td>correo</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.id_representante }}</td>
    <td>{{ object.celular }}</td>
    <td>{{ object.correo }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'app_name_representante_create' %}">Create new Representante</a>
{% endblock %}