{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'appjardin_secretaria_list' %}">Secretaria Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>id_secretaria</td>
    <td>fecha_ingreso</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.id_secretaria }}</td>
    <td>{{ object.fecha_ingreso }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'appjardin_secretaria_create' %}">Create new Secretaria</a>
{% endblock %}